<div className="container mb-5">
  <div className="row">
    <div className="col-12">
      <p className="fw-bold">1. {jp.query(quiz,'$.questionList[0].question')}</p>
      <div>
        <input type="radio" name="box" id="one" />
        <label htmlFor="one" className="box first">
          <div className="course">
            <span className="circle"></span>
            <span className="subject"> {jp.query(quiz,'$.questionList[0].optionA')} </span>
          </div>
        </label>
        <input type="radio" name="box" id="two" />
        <label htmlFor="two" className="box second">
          <div className="course"> <span className="circle"></span> <span className="subject"> {jp.query(quiz,'$.questionList[0].optionB')}</span>
          </div>
        </label>
        <input type="radio" name="box" id="three" />
        <label htmlFor="three" className="box third">
          <div className="course"> <span className="circle"></span> <span className="subject"> {jp.query(quiz,'$.questionList[0].optionC')} </span>
          </div>
        </label>
        <input type="radio" name="box" id="four" />
        <label htmlFor="four" className="box forth">
          <div className="course"> <span className="circle"></span> <span className="subject"> {jp.query(quiz,'$.questionList[0].optionD')}</span>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>